.btn{
    position: relative;
    left: 52%;
    margin-top: 1%;
    float:left;
}

.container{
    width: 600px;
    position: absolute;
    height: 200px;
    overflow: auto;
    top: 100px;
    left: 50%;
}

table{
    padding-top: 10px;
    max-height: 160px;
    overflow-y: auto;
}

td{
    padding-top: 2px;
    padding-bottom: 2px;
}

th{
    vertical-align:middle;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 400px;
}

.table thead th {
    vertical-align: middle;
}
